@page

@{
    ViewData["Title"] = "LinkExpired";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Link expired</title>
</head>
<body>
<div>
    <p>
        Your link has expired unfortunately, it doesn't work anymore
    </p>
</div>
</body>
</html>