@{
    ViewData["Title"] = "LinkCreated";
}

<!DOCTYPE html>
<html>
<head>
    <title>Link created</title>
</head>
<body>
<div>
    Created link <a href="@ViewData["scheme"]://@ViewData["host"]/@ViewData["id"]">@ViewData["host"]/@ViewData["id"]</a>
</div>
</body>
</html>