@{
    ViewData["Title"] = "LinkExpired";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Link expired</title>
</head>
<body>
<div>
    <p>
        The short link has expired or does not exist
    </p>
</div>
</body>
</html>